# Virtual environment
.venv

# VS Code settings
.vscode

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pyo

# Git
.git
.gitignore

# Mac/Linux hidden files
.DS_Store

# Dockerfile artifacts
Dockerfile
README.md
